

.firstDiv {
  width: 100px;
  background-color: rgb(230, 24, 24);
  height: 100px;
  position: absolute;
  animation: moveposition 15s alternate infinite;
  text-align: center;
}

@keyframes moveposition {
  from {
    top: 0px;
    left: 0px;
  }
  50% {
    left: 300px;
    top: 0px;
  }
  to {
    left: 300px;
    top: 50px;
    background-color: yellow;
  }
}

main {
  border: 1px solid gray;
  position: relative;
  height: 200px;
}



/*

mixin for different shapes 

.circle{
  @include shape;
  border-radius:50%;
  
}
.sqr{
  @include shape;
 
}

@mixin shape {
  width:100px; 
  border: 1px solid red; 
  height: 100px; 
  margin: 5px.

}

*/